{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
Perfil
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <!-- Alumnos -->
        <div class="col-sm-12 col-md-6">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                    </li>
                    {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'complete_profile' %}" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                {% for field in form %}
                    {% if field.html_name != 'avatar' %}
                        <div class="form group">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control" }}
                            {{ field.errors }}
                        </div>
                    {% else %}

                        <div class="custom-file mt-3">
                            {{ field|add_class:"custom-file-input" }}
                            <label class="custom-file-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field.errors }}
                        </div>
                    {% endif %}

                {% endfor %}
                <input type="submit" value="Guardar cambios" class="btn btn-outline-primary btn-block mt-2">
            </form>
        </div>
    </div>
</div>


{% endblock %}