{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>

<body class="bg-bright-green">
    {{ request.user }}
    <a href="{% url 'login' %}">Login</a>
    <h1>Bienvenido</h1>
    <p>Consulta los talleres deportivos</p>
    <table>
        <tr>
            <th>Deporte</th>
            <th>Horario</th>
            <th>Docente</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{ team.sport}}</td>
            <td>{{ team.schedule}}</td>
            <td>{{ team.teacher.get_full_name}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>