{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center pt-4">
            <div class="col-sm-12 col-md-6">

                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag}}
                        {{field|add_class:"form-control"}}
                        {{field.errors}}
                    </div>

                    {% endfor %}
                    <input type="submit" value="Entrar" class="btn btn-outline-primary btn-block">
                </form>
            </div>
        </div>
    </div>
</body>

</html>