{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid bg-brigth-green">
    
    <!-- Contenido -->
    <div class="row row-cols-sm-1 row-cols-md-2 justify-content-around mt-3">
        {% for team in teams %}
            <div class="col-sm-12 col-md-5 border mb-3 p-3">
                <h3>{{ team.sport}}</h3>
                <label for="">Horario</label>
                <span>{{ team.schedule}}</span>
                <label for="">Docente:</label>
                <span>{{ team.teacher.get_full_name}}</span>
                <br>
                <button class="btn btn-outline-primary">Editar</button>
                <a href="{% url 'team_details' team.pk %}" class="btn btn-outline-primary">Registrar</a>
            </div>
            
        {% endfor %}
    </div>

</div>
{% endblock %}