{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Alumnos -->
        <div class="col-sm-12 col-md-6">
            <h4>{{ team }}</h4>
            <span>
                Cupo: 
                {% if team.max_students is not None %}
                     {{team.max_students}}
                {% else %}
                    Ilimitado
                {% endif %}
            </span>
            <table class="table">
                <tr>
                    <th>Expediente</th>
                    <th>Nombre</th>
                </tr>
                {% for student in students %}
                <tr>
                    <th>{{ student.expediente }}</th>
                    <th>{{ student.last_name }} {{ student.first_name }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-12 col-md-6">
            <h4>Registra un alumno</h4>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                    </li>
                    {% endfor %}
            </ul>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form group">
                    {{ field.label_tag }}
                    {{ field|add_class:"form-control" }}

                    {{ field.errors }}
                </div>

                {% endfor %}
                <input type="submit" value="Aceptar" class="btn btn-outline-primary btn-block mt-2">
            </form>
        </div>
    </div>
</div>
{% endblock%}