{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<h5>{{team}}</h5>
<div class="row">
    <!-- Alumnos -->
    <div class="col-sm-12 col-md-6">
        <h4>Alumnos iscritos</h4>
        <table>
            <tr>
                <th>Expediente</th>
                <th>Nombre</th>
                <th>Liberado</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{student.expediente}}</td>
                <td>{{ student.last_name}} {{student.first_name}}</td>
                <td>{{ student.liberado }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- Agregar alumno -->
    <div class="col-sm-12 col-md-6">
        <h4>Registra a un alumno</h4>
        <form action="{% url 'team_details' team.pk %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{field|add_class:"form-control"}}
                {{field.errors}}
            </div>
            {% endfor %}
            <input type="submit" value="Registrar" class="btn btn-outline-primary">
        </form>
    </div>
</div>
{% endblock %}